[keyboard]
name = "TK130"
product_name = "TK130"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "havis"
chip = "nrf52840"

[matrix]
# Input and output pins are mandatory
input_pins = ["P1_11", "P1_10", "P0_03", "P0_28"]#row
output_pins = ["P1_13", "P0_31", "P0_29", "P0_02"]#col
# WARNING: Currently row2col/col2row is set in RMK's feature gate, row2col config here is valid ONLY when you're using cloud compilation.
# Checkout doc here: https://rmk.rs/docs/user_guide/faq.html#my-matrix-is-row2col-the-matrix-doesn-t-work
# row2col = true

[layout]
rows = 4
cols = 4
layers = 2
keymap = [
    [
        ["MO(1)", "UP", "ESC","_"],
        ["LEFT", "DOWN", "F", "G"],
        ["Z", "X", "RIGHT", "Y"],
        ["_", "_", "C", "SPACE"]
    ],
    [
        ["_", "User0", "User1", "_"],
        ["_", "User3", "Clear", "Bootloader"],
        ["A", "B", "C", "D"],
        ["_", "_", "_", "_"]
    ],
]


[[input_device.encoder]]
pin_a = "P1_09"
pin_b = "P0_05"

# Whether to use the MCU's internal pull-up resistor, default to false
internal_pullup = true

# Phase is the working mode of the rotary encoders.
# Available mode:
# - default: EC11 compatible, resolution = 1
# - e8h7: resolution = 2, reverse = true
# - resolution: customized resolution, the resolution value and reverse should be specified later
phase = "default"

# The resolution represents how many pulses the encoder generates per detent.
# For examples, if your rotary encoder has 30 detents in total and generates 15 pulses per 360 degree rotation, then the resolution = 30/15 = 2.
# Number of detents and number of pulses can be found in your encoder's datasheet
resolution = 1

# Whether the direction of the rotary encoder is reversed.
reverse = false

[ble]
enabled = true
# vddh has an internal voltage divider
# battery_adc_pin = "vddh"
# Or
battery_adc_pin = "P0_30"
adc_divider_measured = 2000
adc_divider_total = 2820
